@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700;900&display=swap');

.landing {
    background-color: red;
    h1 {
        margin: 0;
        font-family: "Source Serif Pro"
    }
}