.signup {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url("../images/eugenivy_now-2xXSEKUZisE-unsplash.jpg");
    background-size: cover;

    h1 {
        color: $brand-color;
        font-size: 3em;
        text-align: center;
        margin: 3em auto 0.2em auto;
    }

    form {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 25em;
        margin: 0 auto;
        justify-content: center;
        

        input {
            border-radius: 10pc;
            height: 3em;
            border: none;
            margin: 1em 0;
            padding-left: 1em;

            &:hover, &:active, &:focus {
                outline: none;
            }
        }

        button {
            width: 8em;
            margin: 1em auto 0 auto;
            width: 7em;
            height: 3em;
            border: none;
            background-color: #fff;
            border: 1px solid $brand-color;
            border-radius: 10pc;
        }
    }
}